body {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
#header {
    background-color: rgba(128, 128, 128, 0.363);
    background-image: url("photos/woodBG.png");
    overflow: auto;
}
#headerContainer {
    padding: 5px;
}
#steaklogo {
    width: 10%;
    float: left;
    padding-right: 300px;
}
#Nav li {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    padding-right: 30px;
    color: white;
}
#Nav li:hover {
    color:rgb(250, 101, 101);
}
#content {
	background-color: #000;
	width: auto;
	height: auto;
}
#contentContainer {
    padding: 5px;
    height: 800px;
    border-top: 7px solid black;
    border-bottom: 7px solid black;
    background-image: url("photos/steakBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#phrase1 {
    color: white;
    margin-top: 30px;
    font-size: 60px;
    opacity: 0.5;
}
#phrase2 {
    color: white;
    float: right;
    font-size: 40px;
    opacity: 0.5;
}
#phrase3 {
    color: white;
    float: left;
    font-size: 50px;
    opacity: 0.5;
}
#footer {
    background-color: rgba(128, 128, 128, 0.363);
    background-image: url("photos/woodBG.png");
    overflow: auto;
    height: auto;
}
#footerContainer {
    padding: 5px;
    text-align: center;
}
#footerContainer img {
    width: 80px;
}
#footerContainer li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
}
